<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-4">

    <!-- Header -->
    <h3 class="fw-bold">MY Website 20210140019</h3>
    <p>Selamat datang di aplikasi!</p>

    <!-- Tombol input -->
    <a href="/form" class="text-primary">+ Input Data Mahasiswa</a>

    <br><br>

    <!-- Table -->
    <h5 class="fw-bold">Data Mahasiswa</h5>

    <table class="table table-bordered text-center">
        <thead class="table-primary">
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>NIM</th>
        </tr>
        </thead>

        <tbody>
        <!-- Kalau ada data -->
        <tr th:if="${user != null}">
            <td>1</td>
            <td th:text="${user.nama}"></td>
            <td th:text="${user.nim}"></td>
        </tr>

        <!-- Kalau belum ada -->
        <tr th:if="${user == null}">
            <td colspan="3">Belum ada data</td>
        </tr>
        </tbody>
    </table>

    <!-- Logout -->
    <a href="/" class="text-danger">Logout</a>

</div>

</body>
</html>